@charset "UTF-8";

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ####################################### */
            /* VARIAVEIS */
/* ####################################### */

:root {

    --font-v1: 'Roboto', sans-serif;
    
    --color-v1: #E9ECEF;
    --color-v2: #FFF;
    --color-v3: #212529;
    --color-v4: #AB1618;
    --color-v5: #374957;

}

/* ####################################### */
            /* ESTILOS GERAIS */
/* ####################################### */

html {

    font-size: 62.5%;
    scroll-behavior: smooth;

}

body {

    font-family: var(--font-v1);
    background-color: var(--color-v3);

}

a {

    text-decoration: none;

}

img {

    max-width: 100%;
    height: auto;

}

section {

    min-width: 30rem;
    padding: 1.6rem;

}

@media screen and (min-width: 960px) {
    
    section {

        padding: 1.6rem calc((100% - 96rem - 1.6rem) / 2);

    }

}

.section-title {

    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.4rem;

}

@media screen and (min-width: 870px) {
    
    .section-title {

        font-size: 3.2rem;

    }

}

.section-title--destaque {

    color: var(--color-v4);

}

/* ####################################### */
            /* HEADER-NAVBAR */
/* ####################################### */

.navbar {

    width: 100%;
    height: 5.8rem;
    background-color: var(--color-v1);
    position: fixed;
    z-index: 1;

}

.navbar-header {

    height: 5.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1.6rem;

}

.navbar-header_logo {

    width: 16rem;

}

.navbar-header_toggle {

    font-size: 3.4rem;
    border: none;
    color: var(--color-v3);
    background-color: transparent;
    cursor: pointer;

}

.navbar-list {

    height: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--color-v5);
    backdrop-filter: blur(10px);
    transition: ease-in-out 0.4s all;

}

.navbar-list--show-link {

    height: 100vh;

}

.navbar-list_link {

    display: block;
    font-size: 1.6rem;
    color: var(--color-v1);
    font-weight: 600;
    font-style: normal;
    text-align: center;
    padding: 1.6rem 0rem;
    transition: ease-in-out .4s all;

}

.navbar-list_link:hover {

    color: var(--color-v4);

}

.navbar-icon {

    display: none;

}

@media screen and (min-width: 960px) {
    
    .navbar {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem calc((100% - 96rem)/2);

    }

    .navbar-header {

        padding: 0;

    }

    .navbar-header_toggle {

        display: none;

    }

    .navbar-list {

        height: 5.8rem;
        display: flex;
        gap: 2.4rem;
        align-items: center;
        background: none;
        padding: 1rem;

    }

    .navbar-list_link {

        color: var(--color-v3);

    }

    .navbar-list_link:hover {

        transform: scale(1.2);

    }

    .navbar-icon {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        padding: 1rem 0rem;
        list-style: none;

    }

    .navbar-icon_link {

        display: block;
        color: var(--color-v3);
        font-size: 2.4rem;
        transition: ease-in-out 0.4s all;

    }

    .navbar-icon_link:hover {

        color: var(--color-v4);
        transform: scale(1.2);

    }

}

/* ####################################### */
            /* HEADER-HERO-SECTION */
/* ####################################### */

.hero-section {

    min-width: 30rem;
    min-height: 100vh;
    display: inline-flex;
    align-items: center;
    gap: 6.4rem;
    flex-wrap: wrap;
    padding: 1.6rem;

}

.hero-section-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
    flex: 6 1 1rem;

}

.hero-section-text_title {

    color: var(--color-v2);
    font-size: 2.8rem;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    line-height: normal;

}

.hero-section-text_descriptio {

    color: var(--color-v2);
    font-size: 1.5rem;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: justify;

}

.hero-section-text_cta {

    width: 24.3rem;
    height: 6.4rem;
    color: var(--color-v2);
    font-size: 1.6rem;
    font-weight: 500;
    background-color: var(--color-v4);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

}

.hero-section-text_cta a {

    color: var(--color-v2);

}

.hero-img {

    position: relative;
    max-width: 23.6rem;
    flex: 1 1 1rem;
    top: 4rem;
    margin: auto;

}

@media screen and (min-width: 576px) {
    
    .hero-section {

        flex-direction: row-reverse;
        align-items: center;

    }

    .hero-section-text_title {

        font-size: 3.2rem;
    
    }
    
    .hero-section-text_descriptio {
    
        font-size: 1.6rem;
    
    }

    .hero-img {

        max-width: 40rem;
        top: 0.5;

    }

}

@media screen and (min-width: 960px) {
    
    .hero-section {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 0rem calc((100% - 96rem - 1.6rem) / 2);

    }

    .hero-img {

        max-width: 48rem;

    }

    .hero-section-text_title {

        font-size: 4.6rem;

    }

    .hero-section-text_descriptio {

        font-size: 2rem;

    }

    .hero-section-text_cta {

        font-weight: 500;
        font-size: 2rem;
        transition: ease-in-out 0.5s;

    }
    .hero-section-text_cta:hover {

        border: 0.2rem solid var(--color-v4);
        background-color: transparent;
        transform: scale(1.1);
        box-shadow: 0px 0px 10px var(--color-v4);

    }

    .hero-section-text_cta:hover a {

        color: var(--color-v4);

    }

}

/* ####################################### */
            /* SECTION-SOBRE-NÓS */
/* ####################################### */

.sobre {

    background-color: var(--color-v1);

}

.sobre h2 {

    color: var(--color-v3);

}

.img-sobre-desktop {

    display: none;

}

.img-sobre-mobile {

    display: flex;
    margin: auto;

}

.sobre-c-texto_title {

    color: var(--color-v3);
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem 2.8rem 0rem 0rem;
    text-transform: uppercase;

}

.sobre-c-texto_title::before {

    content: "\f111";
    font-family: 'Font Awesome 5 Free';
    color: var(--color-v4);
    padding-right: 1rem;

}

.sobre-c-texto_descricao {

    color: var(--color-v3);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    text-align: justify;

}

@media screen and (min-width: 870px) {

    .sobre-c {

        display: flex;
        align-items: center;
        gap: 7.4rem;

    }

    .img-sobre-mobile {

        display: none;

    }

    .img-sobre-desktop {

        max-width: 38rem;
        display: block;
        flex: 1 1 1rem;

    }

    .sobre-c-texto {

        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        flex: 6 1 1rem;

    }

    .sobre-c-texto_title {

        font-size: 2.4rem;

    }

}

/* ####################################### */
            /* SECTION-DIFERENÇIAIS */
/* ####################################### */

.diferenciais h2 {

    color: var(--color-v1);

}

.diferenciais-c {

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

}

.diferencial {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;

}

.diferencial_title {

    color: var(--color-v1);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

}

.diferencial_descricao {

    color: var(--color-v1);
    font-size: 1.6rem;
    font-weight: 400;
    text-align: justify;

}

@media screen and (min-width: 670px) {
    
    .diferenciais-c {

        flex-direction: row;

    }

}