.footer-navbar {

    display: flex;
    flex-direction: column;
    gap: 2.8rem;

}

.footer-helper {

    display: flex;
    align-items: first baseline;
    justify-content: space-between;
    gap: 2rem;

}

.footer-c {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.footer-c_logo {

    width: 13rem;

}

.footer-navbar-list {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 1rem;
    list-style: none;

}

.footer-navbar-list_link {

    display: block;
    font-size: 1.6rem;
    color: var(--color-v1);
    font-weight: 600;
    font-style: normal;
    text-align: center;
    transition: ease-in-out .4s all;

}

.footer-navbar-list_link:hover {

    color: var(--color-v4);

}

.footer-navbar-c2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.foote-navbar-c2_title {

    color: var(--color-v1);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.foote-navbar-c2_title--destaque {

    color: var(--color-v4);

}

.footer-navbar-icon {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;

}

.footer-navbar-icon_link {

    display: block;
    color: var(--color-v2);
    font-size: 2.4rem;
    transition: ease-in-out 0.5s all;

}

.footer-navbar-icon_link:hover {

    color: var(--color-v4);
    transform: scale(1.2);

}

.footer-navbar_btn {

    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-navbar-copy {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 2rem;

}

.footer-navbar-copy_descricao {

    color: var(--color-v1);
    font-size: 1.6rem;
    text-align: center;

}

.data::after {

    content: '\a';
    white-space: pre;

}

.footer-navbar-copy_dev {

    color: var(--color-v1);
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;

}

.footer-navbar-copy_dev--destaque {

    color: var(--color-v4);
    font-style: italic;
    font-weight: 700;
    transition: all 0.3s ease-in-out;

}

.footer-navbar-copy_dev--destaque:hover {

    color: var(--color-v7);
    text-decoration: underline;

}

.footer-navbar-copy_dev--destaque::before {

    content: '\a';
    white-space: pre;

}

@media screen and (min-width: 600px) {

    .footer-helper {

        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    
    .footer-navbar-list {

        flex-direction: row;

    }
    
    .footer-navbar-icon {

        flex-direction: row;

    }

    .foote-navbar-c2_title {

        font-size: 2rem;

    }
    
    .data::after {

        content: '';

    }
    
    .footer-navbar-copy_dev--destaque::before {

        content: '';

    }

}