.hero-section {

    width: 100%;
    min-width: 30rem;
    padding: 1.6rem;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 6rem;

}

.div-hero-img {

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 1rem;

}

.hero-img {

    width: 60%;

}

.hero-section-text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.6rem;
    flex: 1 1 1rem;
    padding: 1.6rem 0;

}

.hero-section-text_title {

    color: var(--color-v2);
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;

}

.hero-section-text_descriptio {

    color: var(--color-v2);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.9;
    text-align: justify;

}

.hero-section-text_cta {

    color: var(--color-v2);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 2rem 3rem;
    background-color: var(--color-v4);
    border: none;
    border-radius: 0.5rem;

}

@media screen and (min-width: 481px) and (max-width: 767px) {

    .hero-section-text {

        align-items: center;
        max-width: 70rem;

    }
    
    .hero-section-text_descriptio {
    
        font-size: 1.6rem;
    
    }

}

@media screen and (min-width: 768px) {
    
    .hero-section {

        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;

    }

    .hero-img {

        width: 80%;
    
    }

    .hero-section-text {

        align-items: flex-start;
        gap: 2rem;

    }

    .hero-section-text_title {

        font-size: 2.4rem;

    }

    .hero-section-text_descriptio {

        font-size: 1.6rem;

    }

    .hero-section-text_cta {

        font-weight: 500;
        transition: ease-in-out 0.5s;

    }

    .hero-section-text_cta:hover {

        color: var(--color-v4);
        border: 0.2rem solid var(--color-v4);
        background-color: transparent;
        transform: scale(1.1);
        box-shadow: 0px 0px 10px var(--color-v4);

    }

}

@media screen and (min-width: 992px) {

    .hero-section {

        padding: 1.6rem calc((100% - 99.2rem - 1.6rem) / 2);

    }

    .hero-section-text_title {

        font-size: 4.2rem;

    }

}