.servicos {

    background-color: var(--color-v1);

}

.servicos h2 {

    color: var(--color-v3);
    
}

.servicos-c {

    position: relative;
    display: flex;
    gap: 2rem;
    padding: 1.6rem;
    overflow-x: auto;

}

.servicos-c::after {

    position: absolute;
    font-size: 4.6rem;
    font-weight: bold;
    content: "\2192";
    top: 0.5rem;
    right: 3.2rem;
    color: var(--color-v4);
    animation: seta 0.4s ease-in-out 0s infinite alternate;

}

@keyframes seta {
    
    from {

        right: 3.2rem;

    }

    to {

        right: 0.2rem;

    }

}

.servico {

    flex-shrink: 0;
    width: 25rem;
    background-color: var(--color-v3);
    box-shadow: 0rem 0rem 1rem var(--color-v3);
    cursor: pointer;

}

.servico-texto {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    padding: 1.3rem;

}

.servico-texto_title {

    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-v2);
    text-transform: uppercase;

}

.servico-texto_descricao {

    color: var(--color-v2);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;

}

.servico-texto_ifo {

    font-size: 1.7rem;
    font-weight: bold;
    font-style: italic;
    color: var(--color-v4);

}

@media screen and (min-width: 768px) {
    
    .servicos-c {

        flex-wrap: wrap;
        justify-content: center;
        align-items: unset;
        overflow-x: visible;

    }

    .servicos-c::after {

        content: "";

    }

    .servico {

        transition: all 0.4s ease-in-out;

    }

    .servico:hover {

        transform: scale(1.04);
        border: 0.2rem solid var(--color-v4);
        box-shadow: 0rem 0rem 4rem var(--color-v4);

    }

}